@using System.Security.Claims
@model IEnumerable<Post>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Posts";
    var currentUser = HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    @foreach (var post in Model)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                @if (post.Image != null)
                                {
                                    <img style="width:350px;height:350px" src="@post.Image" alt="">
                                }
                                <div class="card-body">
                                    <h5 class="card-title">@post.Title</h5>
                                    <p class="card-text">
                                        @post.Body
                                    </p>
                                    <p>Created on: @post.CreatedOn</p>
                                    <p>Last Update: @post.UpdatedOn</p>
                                    <p>By: @post.ApplicationUser.FirstName</p>
                                    <div style="display: flex; justify-content: space-between;">
                                        <a asp-controller="Post" asp-action="Get" asp-route-slug="@post.Slug" asp-route-year="@post.CreatedOn.Year" asp-route-month="@post.CreatedOn.Month" asp-route-day="@post.CreatedOn.Day" class="btn btn-secondary">View</a>
                                        @if (currentUser == post.ApplicationUserId)
                                        {
                                            <a asp-controller="Post" asp-action="Edit" asp-route-slug="@post.Slug" asp-route-year="@post.CreatedOn.Year" asp-route-month="@post.CreatedOn.Month" asp-route-day="@post.CreatedOn.Day" class="btn btn-warning">Edit</a>
                                            <form asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" method="post" onclick="return confirm('Are you sure you want to delete this post?')">
                                                <input type="hidden" asp-for="@post.Id"/>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>